[user]
        name = Benjamin Chait
        email = 3802865+benjaminchait@users.noreply.github.com
[credential]
        helper = osxkeychain
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        unstage = reset HEAD --
        log = log -l HEAD
        visual = !gitk
[filter "hawser"]
        clean = git hawser clean %f
        smudge = git hawser smudge %f
        required = true
[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
[filter "media"]
        required = true
        clean = git media clean %f
        smudge = git media smudge %f
